gunicorn
psycopg2
importlib_metadata
dtool
dtool-smb
dtool-s3
dtool-lookup-server
dtool-lookup-server-dependency-graph-plugin
dtool-lookup-server-direct-mongo-plugin
dtool-lookup-server-annotation-filter-plugin 
dtool-lookup-server-notification-plugin
markupsafe==2.1.1
